<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 英国企业家移民咨询测试</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="container">
        <header class="clearfix">
            <span>企业家移民咨询测试 </span>
            <h1>独立创业</h1>
        </header>
        <div class="main">
            @RenderBody()
        </div>
    </div>
    <footer><img src="~/Content/Site_Images/site_logo.png" alt="logo">Copyright © 2018 英国企业家移民咨询测试. All rights reserved</footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- for jquery datepicker, must put it after bootstrap-->
    <!-- jQuery UI CSS Reference -->
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.min.css")" rel="stylesheet" />
    <!-- Required jQuery and jQuery UI Javascript references -->
    <script src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>

    <!-- Show multiline editorfor / textareafor -->
    <script type="text/javascript">
        $(function () {
            var xS4aQ35 = $('#contS4aQ35AnsVar').val();
            var xS4aQ36 = $('#contS4aQ36AnsVar').val();
            var xS4aQ38 = $('#contS4aQ38AnsVar').val();
            var xS4aQ40 = $('#contS4aQ40AnsVar').val();
            var xS4aQ49 = $('#contS4aQ49AnsVar').val();
            var xS4aQ52 = $('#contS4aQ52AnsVar').val();
            var xS4aQ56 = $('#contS4aQ56AnsVar').val();
            var xS4aQ57 = $('#contS4aQ57AnsVar').val();
            var xS4aQ58 = $('#contS4aQ58AnsVar').val();

            $('#S4aQ35Answer').val(xS4aQ35.toString());
            $('#S4aQ36Answer').val(xS4aQ36.toString());
            $('#S4aQ38Answer').val(xS4aQ38.toString());
            $('#S4aQ40Answer').val(xS4aQ40.toString());
            $('#S4aQ49Answer').val(xS4aQ49.toString());
            $('#S4aQ52Answer').val(xS4aQ52.toString());
            $('#S4aQ56Answer').val(xS4aQ56.toString());
            $('#S4aQ57Answer').val(xS4aQ57.toString());
            $('#S4aQ58Answer').val(xS4aQ58.toString());
        })
    </script>
    <!-- end -->

    @Scripts.Render("~/bundles/jsdoc")
    @RenderSection("scripts", required: false)
</body>
</html>
