@model SurveyMVCBase1.Models.Survey

@{
    ViewBag.Title = "S4bPage18 - 英国创业项目测试 - 加入创业";
}

<h2>Survey section4b - page18 - 英国创业项目测试 - 加入创业</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.SurveyID)

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ51Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    List<SelectListItem> S4bQ51AnswerListItems = new List<SelectListItem>();
                    S4bQ51AnswerListItems.Add(new SelectListItem
                    {
                        Text = "本科以下",
                        Value = "本科以下"
                    });
                    S4bQ51AnswerListItems.Add(new SelectListItem
                    {
                        Text = "大学本科",
                        Value = "大学本科"
                    });
                    S4bQ51AnswerListItems.Add(new SelectListItem
                    {
                        Text = "硕士",
                        Value = "硕士"
                    });
                    S4bQ51AnswerListItems.Add(new SelectListItem
                    {
                        Text = "博士",
                        Value = "博士"
                    });
                }
                @Html.DropDownListFor(model => model.S4bQ51Answer, S4bQ51AnswerListItems, "-- 请选择 --", new { @class = "form-control", @title = "请选择", @required = true, @oninvalid = "this.setCustomValidity('请选择')", @oninput = "setCustomValidity('')" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ52Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.S4bQ52Answer, new { htmlAttributes = new { @class = "form-control", rows = 5, placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ53Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ53Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="继续" class="btn btn-default" />
            </div>
        </div>
    </div>
                    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}