@model SurveyMVCBase1.Models.Survey

@{
    Layout = "~/Views/Shared/_Layout_S4b.cshtml";
    ViewBag.Title = "S4bPage2 - 英国创业项目测试 - 加入创业";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.SurveyID)

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ29Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ29Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ30Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    List<SelectListItem> S4bQ30AnswerListItems = new List<SelectListItem>();
                    S4bQ30AnswerListItems.Add(new SelectListItem
                    {
                        Text = "是",
                        Value = "打算新增雇员"
                    });
                    S4bQ30AnswerListItems.Add(new SelectListItem
                    {
                        Text = "否",
                        Value = "不打算新增雇员"
                    });
                }
                @Html.DropDownListFor(model => model.S4bQ30Answer, S4bQ30AnswerListItems, "-- 请选择 --", new { @class = "form-control", @title = "请选择", @required = true, @oninvalid = "this.setCustomValidity('请选择')", @oninput = "setCustomValidity('')" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ31Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ31Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ32Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ32Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ33Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ33Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ34Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.S4bQ34Answer, new { htmlAttributes = new { @class = "form-control", rows = 5, placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ35Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ35Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ36Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ36Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ37Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ37Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ38Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ38Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ39Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ39Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ40Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.S4bQ40Answer, new { htmlAttributes = new { @class = "form-control", rows = 5, placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ41Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.S4bQ41Answer, new { htmlAttributes = new { @class = "form-control", rows = 5, placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ42Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ42Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ43Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ43Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ44Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ44Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ45Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    List<SelectListItem> S4bQ45AnswerListItems = new List<SelectListItem>();
                    S4bQ45AnswerListItems.Add(new SelectListItem
                    {
                        Text = "已注册",
                        Value = "已注册 VAT"
                    });
                    S4bQ45AnswerListItems.Add(new SelectListItem
                    {
                        Text = "还没有注册",
                        Value = "还没有注册 VAT"
                    });
                }
                @Html.DropDownListFor(model => model.S4bQ45Answer, S4bQ45AnswerListItems, "-- 请选择 --", new { @class = "form-control", @title = "请选择", @required = true, @oninvalid = "this.setCustomValidity('请选择')", @oninput = "setCustomValidity('')" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ46Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ46Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ47Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ47Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ48Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ48Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ49Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ49Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ50Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ50Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ51Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    List<SelectListItem> S4bQ51AnswerListItems = new List<SelectListItem>();
                    S4bQ51AnswerListItems.Add(new SelectListItem
                    {
                        Text = "本科",
                        Value = "本科"
                    });
                    S4bQ51AnswerListItems.Add(new SelectListItem
                    {
                        Text = "硕士",
                        Value = "硕士"
                    });
                    S4bQ51AnswerListItems.Add(new SelectListItem
                    {
                        Text = "博士",
                        Value = "博士"
                    });
                }
                @Html.DropDownListFor(model => model.S4bQ51Answer, S4bQ51AnswerListItems, "-- 请选择 --", new { @class = "form-control", @title = "请选择", @required = true, @oninvalid = "this.setCustomValidity('请选择')", @oninput = "setCustomValidity('')" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ52Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.S4bQ52Answer, new { htmlAttributes = new { @class = "form-control", rows = 5, placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ53Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ53Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ54Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    List<SelectListItem> S4bQ54AnswerListItems = new List<SelectListItem>();
                    S4bQ54AnswerListItems.Add(new SelectListItem
                    {
                        Text = "有",
                        Value = "有在英国的经商经验"
                    });
                    S4bQ54AnswerListItems.Add(new SelectListItem
                    {
                        Text = "无",
                        Value = "没有在英国的经商经验"
                    });
                }
                @Html.DropDownListFor(model => model.S4bQ54Answer, S4bQ54AnswerListItems, "-- 请选择 --", new { @class = "form-control", @title = "请选择", @required = true, @oninvalid = "this.setCustomValidity('请选择')", @oninput = "setCustomValidity('')" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ55Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ55Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ56Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ56Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ57Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.S4bQ57Answer, new { htmlAttributes = new { @class = "form-control", rows = 5, placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ58Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ58Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ59Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S4bQ59Answer, new { htmlAttributes = new { @class = "form-control", placeholder = "请填写", @title = "请填写", @required = true, @oninvalid = "this.setCustomValidity('请填写')", @oninput = "setCustomValidity('')" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ60Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    List<SelectListItem> S4bQ60AnswerListItems = new List<SelectListItem>();
                    S4bQ60AnswerListItems.Add(new SelectListItem
                    {
                        Text = "有",
                        Value = "有家属同行"
                    });
                    S4bQ60AnswerListItems.Add(new SelectListItem
                    {
                        Text = "无",
                        Value = "无家属同行"
                    });
                }
                @Html.DropDownListFor(model => model.S4bQ60Answer, S4bQ60AnswerListItems, "-- 请选择 --", new { @class = "form-control", @title = "请选择", @required = true, @oninvalid = "this.setCustomValidity('请选择')", @oninput = "setCustomValidity('')" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S4bQ61Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    List<SelectListItem> S4bQ61AnswerListItems = new List<SelectListItem>();
                    S4bQ61AnswerListItems.Add(new SelectListItem
                    {
                        Text = "有",
                        Value = "家属打算工作"
                    });
                    S4bQ61AnswerListItems.Add(new SelectListItem
                    {
                        Text = "无",
                        Value = "家属不打算工作"
                    });
                }
                @Html.DropDownListFor(model => model.S4bQ61Answer, S4bQ61AnswerListItems, "-- 请选择 --", new { @class = "form-control", @title = "请选择", @required = true, @oninvalid = "this.setCustomValidity('请选择')", @oninput = "setCustomValidity('')" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="继续" class="btn btn-default button-S4b" />
            </div>
        </div>
    </div>
                    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}