@model SurveyMVCBase1.Models.Survey

@{
    Layout = "~/Views/Shared/_Layout_S4a.cshtml";
    ViewBag.Title = "报告总结";
}

<div id="target">
<h2>测试已完成，感谢您的参与</h2>
<p>&nbsp;</p>
<p>测试 1 - 3 得分：</p>
<p>您的基本信息测试得分是 @ViewBag.Section1Score 分 (满分80分)</p>
<p>您的签证知识测试得分是 @ViewBag.Section2Score 分 (满分100分)</p>
<p>您的英国商业知识测试得分是 @ViewBag.Section3Score 分 (满分100分)</p>
<p>&nbsp;</p>
<p>测试总结和建议：</p>
<p>@ViewBag.Section3Message</p>
<p>&nbsp;</p>
<p>以下是您的测试记录，您可以在页面下方点击生成报告并保存在本地硬盘以便参考。如需帮助请关注我们的公众号或发邮件将您的测试记录以附件形式一起发给我们，我们会帮助您解答相关问题：</p>
<p>&nbsp;</p>
<h3>基本信息测试 (@ViewBag.Section1Score/80):</h3>
<p>姓名: @ViewBag.Section1Question1Anwser</p>
<p>出生年份: @ViewBag.Section1Question2Anwser</p>
<p>取得本科学位的国家: @ViewBag.Section1Question3Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section1Question3AnwserMessage<p>
<p>本科院校: @ViewBag.Section1Question4Anwser</p>
<p>本科专业: @ViewBag.Section1Question5Anwser</p>
<p>取得硕士学位的国家: @ViewBag.Section1Question6Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section1Question6AnwserMessage</p>
<p>硕士院校: @ViewBag.Section1Question7Anwser</p>
<p>硕士专业: @ViewBag.Section1Question8Anwser</p>
<p>取得博士学位的国家: @ViewBag.Section1Question9Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section1Question9AnwserMessage</p>
<p>博士院校: @ViewBag.Section1Question10Anwser</p>
<p>博士专业: @ViewBag.Section1Question11Anwser</p>
<p>现/最近工作单位: @ViewBag.Section1Question12Anwser</p>
<p>工作经验: @ViewBag.Section1Question13Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section1Question13AnwserMessage</p>
<p>工作是否与英国相关: @ViewBag.Section1Question14Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section1Question14AnwserMessage</p>
<p>工作职位: @ViewBag.Section1Question15Anwser</p>
<p>在英国停留累计实时间: @ViewBag.Section1Question16Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section1Question16AnwserMessage</p>
<p>电话: @ViewBag.Section1Question17Anwser</p>
<p>邮箱: @ViewBag.Section1Question18Anwser</p>
<p>微信号: @ViewBag.Section1Question19Anwser</p>
<h3>签证知识测试 (@ViewBag.Section2Score/100):</h3>
<p>您申请企业家移民的主要目的是: @ViewBag.Section2Question1Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section2Question1AnwserMessage<p>
<p>我可以与其它人以合伙人的方式申请签证吗: @ViewBag.Section2Question2Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section2Question2AnwserMessage<p>
<p>对您的英文要求: @ViewBag.Section2Question3Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section2Question3AnwserMessage<p>
<p>企业家移民要求的最低投资金额是多少？(以英镑位单位): @ViewBag.Section2Question4Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section2Question4AnwserMessage<p>
<p>企业家移民签证的主申请人是否可以为他人工作: @ViewBag.Section2Question5Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section2Question5AnwserMessage<p>
<p>我可以带家人来英国吗: @ViewBag.Section2Question6Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section2Question6AnwserMessage<p>
<p>您知道2017年有多少来自中国的企业家移民申请被接受吗: @ViewBag.Section2Question7Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section2Question7AnwserMessage<p>
<p>我可以加入一家现有的企业吗: @ViewBag.Section2Question8Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section2Question8AnwserMessage<p>
<p>3年内需要雇佣多少员工才能符合续签的要求: @ViewBag.Section2Question9Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section2Question9AnwserMessage<p>
<p>资金证明信的主要要求是什么: @ViewBag.Section2Question10Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section2Question10AnwserMessage<p>
<h3>英国商业知识测试 (@ViewBag.Section3Score/100):</h3>
<p>英国的 VAT 税率是多少？: @ViewBag.Section3Question1Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section3Question1AnwserMessage<p>
<p>在英国开公司需要买保险吗？: @ViewBag.Section3Question2Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section3Question2AnwserMessage<p>
<p>有关员工每小时最低工资，下面哪个数据是合法的最低数据？: @ViewBag.Section3Question3Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section3Question3AnwserMessage<p>
<p>聘请一位有3年工作经验的项目开发经理需要支付的年薪是多少？: @ViewBag.Section3Question4Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section3Question4AnwserMessage<p>
<p>在伦敦市 ZONE2 范围内可供4人用的办公室一个月的租金是多少钱？: @ViewBag.Section3Question5Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section3Question5AnwserMessage<p>
<p>员工年收入两万四千英镑应纳税工资部分缴纳比例是多少？: @ViewBag.Section3Question6Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section3Question6AnwserMessage<p>
<p>您是否咨询过移民律师或类似的企业家签证持有人？: @ViewBag.Section3Question7Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section3Question7AnwserMessage<p>
<p>聘请使用会计服务的普遍价位是多少？(以英镑为单位): @ViewBag.Section3Question8Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section3Question8AnwserMessage<p>
<p>每年作为中小企业雇主购买保险费用是多少？: @ViewBag.Section3Question9Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section3Question9AnwserMessage<p>
<p>你理解在英国董事和股东之间的区别吗？: @ViewBag.Section3Question10Anwser</p>
<p class="greenFont">反馈: @ViewBag.Section3Question10AnwserMessage<p>
<h3>独立创业测试:</h3>
<p>1. 提交什么签证？: @ViewBag.Section4aQuestion1Anwser</p>
<p>2. 为什么提交这个签证？: @ViewBag.Section4aQuestion2Anwser</p>
<p>3. 为什么在英国创业？是否考虑过其他国家市场？: @ViewBag.Section4aQuestion3Anwser</p>
<p>4. 是否在英国已经注册了公司？: @ViewBag.Section4aQuestion4Anwser</p>
<p>5. 经营场所的邮政编码是什么？: @ViewBag.Section4aQuestion5Anwser</p>
<p>6. 经营场所租金一年多少钱？: @ViewBag.Section4aQuestion6Anwser</p>
<p>7. 商业模式是什么？: @ViewBag.Section4aQuestion7Anwser</p>
<p>8. 商业短期，中期，长期的发展规划，目标是什么？: @ViewBag.Section4aQuestion8Anwser</p>
<p>9. 有没有做过市场调查？调查方式是什么？: @ViewBag.Section4aQuestion9Anwser</p>
<p>10. 市场调查的结果是什么？: @ViewBag.Section4aQuestion10Anwser</p>
<p>11. 是否打算雇佣员工？: @ViewBag.Section4aQuestion11Anwser</p>
<p>12. 什么时候雇佣员工？: @ViewBag.Section4aQuestion12Anwser</p>
<p>13. 雇佣的员工职位是什么？: @ViewBag.Section4aQuestion13Anwser</p>
<p>14. 聘请的标准是什么？: @ViewBag.Section4aQuestion14Anwser</p>
<p>15. 招聘方法是什么？从哪里招聘？: @ViewBag.Section4aQuestion15Anwser</p>
<p>16. 招聘成本是多少钱？: @ViewBag.Section4aQuestion16Anwser</p>
<p>17. 雇佣员工的工资是多少？: @ViewBag.Section4aQuestion17Anwser</p>
<p>18. 有无潜在客户？: @ViewBag.Section4aQuestion18Anwser</p>
<p>19. 有无已开始或进行中的项目？: @ViewBag.Section4aQuestion19Anwser</p>
<p>20. 第一年盈利预计是多少？: @ViewBag.Section4aQuestion20Anwser</p>
<p>21. 第一年预计成本是多少？: @ViewBag.Section4aQuestion21Anwser</p>
<p>22. 第一年营销成本是多少？: @ViewBag.Section4aQuestion22Anwser</p>
<p>23. 第一年客户数是多少？: @ViewBag.Section4aQuestion23Anwser</p>
<p>24. 第二年盈利预计是多少？: @ViewBag.Section4aQuestion24Anwser</p>
<p>25. 第二年预计成本是多少？: @ViewBag.Section4aQuestion25Anwser</p>
<p>26. 第二年营销成本是多少？: @ViewBag.Section4aQuestion26Anwser</p>
<p>27. 第二年客户数是多少？: @ViewBag.Section4aQuestion27Anwser</p>
<p>28. 第三年盈利预计是多少？: @ViewBag.Section4aQuestion28Anwser</p>
<p>29. 第三年预计成本是多少？: @ViewBag.Section4aQuestion29Anwser</p>
<p>30. 第三年营销成本是多少？: @ViewBag.Section4aQuestion30Anwser</p>
<p>31. 第三年客户数是多少？: @ViewBag.Section4aQuestion31Anwser</p>
<p>32. 如果是贸易类，平均毛利率是多少？: @ViewBag.Section4aQuestion32Anwser</p>
<p>33. 税前利润是多少？税后利润是多少？ （3年数据）: @ViewBag.Section4aQuestion33Anwser</p>
<p>34. 竞争对手有多少？: @ViewBag.Section4aQuestion34Anwser</p>
<p>35. 竞争对手的核心优势是什么？: @ViewBag.Section4aQuestion35Anwser</p>
<p>36. 你的商业核心竞争优势是什么？: @ViewBag.Section4aQuestion36Anwser</p>
<p>37. 你有没有合伙人？: @ViewBag.Section4aQuestion37Anwser</p>
<p>38. 合伙人背景是什么？有没有商业经验？: @ViewBag.Section4aQuestion38Anwser</p>
<p>39. 打算投资多少钱？: @ViewBag.Section4aQuestion39Anwser</p>
<p>40. 投资计划花在那些方面？: @ViewBag.Section4aQuestion40Anwser</p>
<p>41. 什么时候公司总体盈利？: @ViewBag.Section4aQuestion41Anwser</p>
<p>42. 您是否给公司购买了商业保险？: @ViewBag.Section4aQuestion42Anwser</p>
<p>43. 你购买了什么类型的商业保险？: @ViewBag.Section4aQuestion43Anwser</p>
<p>44. 商业保险一年多少钱？: @ViewBag.Section4aQuestion44Anwser</p>
<p>45. 公司是否注册了VAT？: @ViewBag.Section4aQuestion45Anwser</p>
<p>46. VAT 的FULL NAME是什么？: @ViewBag.Section4aQuestion46Anwser</p>
<p>47. VAT税率是多少？: @ViewBag.Section4aQuestion47Anwser</p>
<p>48. 营业税的税率是多少？: @ViewBag.Section4aQuestion48Anwser</p>
<p>49. 会计公司的名字，联系人的名字？: @ViewBag.Section4aQuestion49Anwser</p>
<p>50. 会计服务一年多少钱？: @ViewBag.Section4aQuestion50Anwser</p>
<p>51. 您的最高学历是什么？: @ViewBag.Section4aQuestion51Anwser</p>
<p>52. 所学专业是否和创业思路相关联或者有帮助？简单阐述，如果有: @ViewBag.Section4aQuestion52Anwser</p>
<p>53. 上一次进入英国是什么时候？: @ViewBag.Section4aQuestion53Anwser</p>
<p>54. 是否在在英国有过工作经验？: @ViewBag.Section4aQuestion54Anwser</p>
<p>55. 最近三年是否常驻英国或来过英国多少次？: @ViewBag.Section4aQuestion55Anwser</p>
<p>56. 资金来源是什么？: @ViewBag.Section4aQuestion56Anwser</p>
<p>57. 如果是赠与，赠与人的工作单位是什么？年薪多少？: @ViewBag.Section4aQuestion57Anwser</p>
<p>58. 如果商业失败怎么办？: @ViewBag.Section4aQuestion58Anwser</p>
<p>59. 你打算居住在哪里？: @ViewBag.Section4aQuestion59Anwser</p>
<p>60. 一年的生活成本是多少？: @ViewBag.Section4aQuestion60Anwser</p>
<p>61. 有没有家属同行？: @ViewBag.Section4aQuestion61Anwser</p>
<p>62. 配偶是否打算来英国工作？: @ViewBag.Section4aQuestion62Anwser</p>
<p>63. 未满18岁子女是否来英国上学？: @ViewBag.Section4aQuestion63Anwser</p>
</div>
<p class="greenFont">如果想要了解更详细专业的有关英国企业家移民签证的信息，请关注我们的微信账号或发邮件给我们: admin@ukvisatest.com<p>
<p>&nbsp;</p>
<p>请下载浏览您的测试报告：</p>
<p>
    <a id="cmd" href="#">生成并保存测试报告</a>
</p>
<p>&nbsp;</p>
<p>我们建议您进行自我企业家心理测试，了解自己的是否具备合格企业家的潜质对您的企业家签证申请至关重要！</p>
<p>
    <a href="http://www.bbc.com/zhongwen/trad/business/2015/08/150814_biz_quiz" target="_blank">企业家心里测试</a>
</p>
<p>&nbsp;</p>
<p>微信扫码支付后我们会发给您完整的信息回馈，同时附送《商业创业宝典》。</p>
<img src="@Url.Content("~/Content/Site_Images/scanWechat.jpg")" width="226" hight="292" alt="scan webchat" />
