@model SurveyMVCBase1.Models.Survey

@{
    Layout = "~/Views/Shared/_Layout_S3.cshtml";
    ViewBag.Title = "S3PageSum";
}

<div class="form-horizontal">
    <hr />
    <p>测试 1 - 3 得分：</p>
    <p>您的基本信息测试得分是 @ViewBag.Section1Score 分 (满分70分)</p>
    <p>您的签证知识测试得分是 @ViewBag.Section2Score 分 (满分100分)</p>
    <p>您的英国商业知识测试得分是 @ViewBag.Section3Score 分 (满分100分)</p>
    <hr />
    <p>测试小结：</p>
    <p>@ViewBag.Section3Message</p>
    <hr />
    <p>请您继续完成英国创业项目测试，这有助于您加深相关信息的了解，同时我们会根据您的测试答案对您的情况进行个性化的分析：</p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">

            @using (Html.BeginForm("S3PageSum"))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.SurveyID)
                <input type="submit" value="英国创业项目测试 - 独立创业" class="btn btn-default button-S4a-section" name="section4" />
                
                <input type="submit" value="英国创业项目测试 - 加入创业" class="btn btn-default button-S4b-section" name="section4" />
            }

        </div>
    </div>
    <hr />
    <p>关注我们的微信公众号获取全方位的英国移民信息 - 包括获取《商业创业宝典》。</p>
    <img src="@Url.Content("~/Content/Site_Images/scanWechat.jpg")" width="226" hight="292" alt="scan webchat" />

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}