@model SurveyMVCBase1.Models.Survey

@{
    ViewBag.Title = "S3PageSum";
}

<h2>Survey section3 - PageSum</h2>

<div class="form-horizontal">
    <hr />
    <p>您第三部分的得分是 @ViewBag.Section3Score 分</p>
    <p>@ViewBag.Section3Message</p>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">

            @using (Html.BeginForm("S3PageSum"))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.SurveyID)
                <input type="submit" value="Section4a" class="btn btn-default" name="section4" />
                <input type="submit" value="Section4b" class="btn btn-default" name="section4" />
            }

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}